*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "BrutalType";
  src: url("../fonts/BrutalType-Black.woff2") format("woff2"), url("../fonts/BrutalType-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "BrutalType";
  src: url("../fonts/BrutalType-Bold.woff2") format("woff2"), url("../fonts/BrutalType-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "BrutalType";
  src: url("../fonts/BrutalType-Medium.woff2") format("woff2"), url("../fonts/BrutalType-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "BrutalType";
  src: url("../fonts/BrutalType.woff2") format("woff2"), url("../fonts/BrutalType.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "BrutalType";
  src: url("../fonts/BrutalType-ExtraBold.woff2") format("woff2"), url("../fonts/BrutalType-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 0;
}

body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "BrutalType";
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.container {
  max-width: 2550px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 10px;
}

.mob-menu__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.header .header__top {
  padding: 26px 0 19.5px;
}
.header .header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__top .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1020px;
}
.header .header__top .header__nav .nav__item {
  color: #707070;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "BrutalType";
  font-size: 17px;
}
.header .header__top .header__nav .nav__item:hover {
  color: #d92b3a;
}
.header .header__top .social__block {
  width: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__top .social__block .phone__num {
  color: #90929f;
  font-size: 24px;
  font-weight: 800;
}
.header .header__top .social__block .mail__adress {
  color: #90929f;
  font-weight: 500;
  font-size: 15px;
}
.header .header__top .social__block .payment__btn {
  display: block;
  width: 160px;
  padding: 11px 0;
  text-align: center;
  background-color: transparent;
  border: 1.5px solid #d92b3a;
  color: #d92917;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
}
.header .header__content {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 270px 0 500px;
}
.header .header__content .header__title {
  width: 650px;
  text-transform: uppercase;
  display: block;
  font-weight: 900;
  font-size: 80px;
  margin-bottom: 20px;
  line-height: 108px;
}
.header .header__content .header__subtitle {
  width: 650px;
  display: block;
  font-weight: 800;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 37px;
}
.header .header__content .header__btn {
  display: block;
  background-color: #000;
  margin: 0 auto;
  width: 210px;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
}

.content__wrap {
  width: 650px;
  margin: 0 auto;
}

.pluese .container {
  padding: 0;
}
.pluese .row1 .block:nth-child(even) {
  color: #fff;
}
.pluese .row1 .block:nth-child(even) .block__title {
  color: #fff;
}
.pluese .row2 .block:nth-child(odd) {
  color: #fff;
}
.pluese .row2 .block:nth-child(odd) .block__title {
  color: #fff;
}
.pluese .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pluese .row .block {
  width: 25%;
  padding: 5% 5% 15vw 3%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.pluese .row .block .block__title {
  color: #747993;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 39px;
}
.pluese .row .block .block__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.pluese .row .block1 {
  background-image: url(../img/card-bg1.jpg);
}
.pluese .row .block2 {
  background-image: url(../img/card-bg2.jpg);
}
.pluese .row .block3 {
  background-image: url(../img/card-bg3.jpg);
}
.pluese .row .block4 {
  background-image: url(../img/card-bg4.jpg);
}
.pluese .row .block5 {
  background-image: url(../img/card-bg5.jpg);
}
.pluese .row .block6 {
  background-image: url(../img/card-bg6.jpg);
}
.pluese .row .block7 {
  background-image: url(../img/card-bg7.jpg);
}
.pluese .row .block8 {
  background-image: url(../img/card-bg8.jpg);
}

.projects .container {
  padding: 0;
}
.projects .projects__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1525px;
  margin: 0 auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 110px 0 95px;
}
.projects .projects__top .top__title {
  width: 30%;
  font-weight: 800;
  font-size: 34px;
  color: #000;
}
.projects .projects__top .top__text {
  width: 65%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.projects .projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 200px;
}
.projects .projects__content .project__block {
  position: relative;
  width: 25%;
  height: calc(100% - 5px);
  overflow: hidden;
  max-height: 1130px;
}
.projects .projects__content .project__block:hover .text__block {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.projects .projects__content .project__block .block__img {
  display: block;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.projects .projects__content .project__block .text__block {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #202433;
  height: 20%;
  padding: 37px 50px 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
}
.projects .projects__content .project__block .text__block p {
  font-weight: 800;
  font-size: 32px;
  color: #fff;
}

@media screen and (max-width: 2220px) {
  .pluese .row .block .block__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .pluese .row .block .block__text {
    font-size: 16px;
  }

  .pluese .row .block {
    padding: 3% 4% 13vw 3%;
  }

  .projects .projects__content .project__block .text__block {
    padding: 28px 40px 38px;
  }
  .projects .projects__content .project__block .text__block p {
    font-size: 28px;
  }
}
@media screen and (max-width: 1920px) {
  .header__top {
    -o-object-position: center;
       object-position: center;
  }

  .header .header__top .header__nav .nav__item {
    font-size: 16px;
  }

  .header .header__top .header__nav {
    max-width: 900px;
  }

  .social__block {
    width: 550px !important;
  }
  .social__block .phone__num {
    font-size: 20px !important;
  }
  .social__block .mail__adress {
    font-size: 11px !important;
  }
  .social__block .payment__btn {
    width: 120px !important;
    padding: 8px 0 !important;
    font-size: 10px !important;
  }

  .logo__img {
    width: 120px;
  }
}
@media screen and (max-width: 1710px) {
  .pluese .row .block .block__title {
    font-size: 18px;
    margin-bottom: 26px;
  }

  .pluese .row .block .block__text {
    font-size: 14px;
  }

  .pluese .row .block {
    padding: 2% 3% 10vw 2%;
  }

  .projects .projects__content .project__block .text__block {
    padding: 18px 30px 30px;
  }
  .projects .projects__content .project__block .text__block p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1670px) {
  .header .header__top .header__nav .nav__item {
    font-size: 14px;
  }

  .header .header__top .header__nav {
    max-width: 730px;
  }

  .social__block {
    width: 400px !important;
  }
  .social__block .phone__num {
    font-size: 16px !important;
  }
  .social__block .mail__adress {
    font-size: 9px !important;
  }
  .social__block .payment__btn {
    width: 100px !important;
    padding: 5px 0 !important;
    font-size: 8px !important;
  }

  .logo__img {
    width: 100px;
  }
}
@media screen and (max-width: 1430px) {
  .pluese .row .block .block__title {
    font-size: 16px;
    margin-bottom: 18px;
  }

  .pluese .row .block .block__text {
    font-size: 12px;
  }

  .pluese .row .block {
    padding: 2% 3% 10vw 2%;
  }
}
@media screen and (max-width: 1270px) {
  .header .header__top .header__nav,
.header .header__top .social__block {
    display: none;
  }

  .mob-menu__btn {
    display: block;
  }

  .pluese .row .block .block__title {
    font-size: 13px;
    margin-bottom: 14px;
  }

  .pluese .row .block .block__text {
    font-size: 10px;
    line-height: 18px;
  }

  .pluese .row .block {
    padding: 2% 3% 10vw 2%;
  }

  .projects .projects__content .project__block .text__block {
    padding: 10px 15px 0px;
  }
  .projects .projects__content .project__block .text__block p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .pluese .row .block .block__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .pluese .row .block .block__text {
    font-size: 17px;
    line-height: 26px;
  }

  .pluese .row .block {
    padding: 5% 5% 20vw 5%;
    width: 100%;
  }

  .pluese .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .projects .projects__content .project__block .text__block {
    padding: 5px 10px 0px;
  }
  .projects .projects__content .project__block .text__block p {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .header .header__content .header__title {
    font-size: 37px;
    line-height: 50px;
    margin-bottom: 9px;
    width: 318px;
  }

  .header .header__content .header__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
    width: 303px;
  }

  .content__wrap {
    width: 318px;
  }

  .header .header__content .header__btn {
    margin: 0;
    width: 211px;
    padding: 11px 0;
    font-weight: 500;
    font-size: 16px;
  }

  .header .header__content {
    padding: 230px 0 84px;
  }
}
@media screen and (max-width: 650px) {
  .projects .projects__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .projects .projects__content .project__block {
    width: 100%;
  }

  .projects .projects__content .project__block .text__block {
    padding: 40px 50px 0px;
  }
  .projects .projects__content .project__block .text__block p {
    font-size: 26px;
  }
}