.arrangement {
    position: relative;
    background-color: $white;
    width: 100%;
    z-index: 150;
    margin-bottom: -5px;

    &__title-group {
        position: absolute;
        top: 139px;
        left: 527px;

        .arrangement__title {
            font-family: Gilroy;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 800;
            color: #124095;
            margin-bottom: 35px;
        }

        .arrangement__about {
            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;
            color: #000000;
        }
    }

    &__image {
        margin-top: 86px;
        width: 100%;
        height: 643px;
        object-fit: cover;
    }
}

@media screen and (max-width: $breakPoint1420) {
    .arrangement {
        &__title-group {
            left: 50px;
            top: 50px;
            backdrop-filter: blur(10px);
        }

        &__image {
            height: max-content;
            object-fit: scale-down;
        }
    }
}

@media screen and (max-width: $breakPoint1250) {
    .arrangement {
        margin: 0;

        &__title-group {
            position: static;
            padding: 30px 30px 0 30px;
        }
    }
}

// @media screen and (max-width: $breakPoint520) {
//     .arrangement {
//         &__image {
//             height: 350px;
//         }
//     }
// }
