.form-map {
    margin-bottom: -720px;
}

.form-map-title {
    margin: 86px 0 115px 0;
    * {
        color: #124095 !important;
    }
}

.form {
    display: flex;

    width: 100%;
    height: 682px;
    background-image: url("/images/background_form.jpg");
    background-repeat: no-repeat;
    background-position: center 76%;

    &.form-max {
        height: 1032px;
        margin-top: 320px;

        .form__container {
            margin-top: 429px;
        }
    }

    b {
        line-height: 19px;
        font-weight: 700;
        color: #005ec2;
    }

    &__container {
        margin: 80px 0 0 457px;
    }

    &__title {
        font-family: Gilroy;
        font-size: 36.1px;
        line-height: 1.2;
        font-weight: 800;
        color: #124095;
        line-height: 35px;
        margin-bottom: 25px;
    }

    &__about {
        font-family: Gilroy;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 800;
        color: #4c4c4c;
        line-height: 19px;
        margin-bottom: 23px;
    }

    &__input-group {
        width: 398px;
        margin-bottom: 20px;

        input {
            display: block;
            height: 60px;
            width: 100%;

            font-size: 16px;
            line-height: 1.2;
            font-weight: 400;

            outline: none;
            border: none;
            margin-bottom: 16px;

            border: 1px solid #cccccc;
            border-radius: 10px;
            padding-left: 26px;
            transition: 0.4s;

            &:focus {
                border: 1px solid #9e9e9e;
            }

            &::placeholder {
                color: #333333;
                user-select: none;
            }
        }
    }

    .flex {
        justify-content: space-between;
        width: 100%;
    }

    .btn {
        margin-top: 12px;
    }
}

@media screen and (max-width: $breakPoint1420) {
    .form {
        justify-content: center;
        align-items: center;
        

        &__container {
            margin: 0;

            .form__input-group {
                width: 100%;
            }

            input {
                width: 90%;
            }
        }
    }
}