/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-arrow {
    position: absolute;
    top: 52%;
    margin: -20px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.slick-arrow.slick-prev {
    left: 26px;
    background: url("/images/icons/slider_prev.png") 0 0 / 100% no-repeat;
    transform: scale(01.90);
}

.slick-arrow.slick-next {
    right: 26px;
    background: url("/images/icons/slider_next.png") 0 0 / 100% no-repeat;
    transform: scale(01.90);
}

.steps-slider {
    .slick-arrow.slick-prev {
        left: -60px;
    }
    
    .slick-arrow.slick-next {
        right: -26px;
    }
}

.slick-arrow.slick-disabled {
    opacity: 0;
}  

.slick-disabled {
    cursor: auto;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

// Наши настройки

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-list {
    overflow: hidden;
}

#gallery {
    position: relative;

    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        vertical-align: middle;

        font-size: 2.5rem;
        border-radius: 50%;

        width: 60px;
        height: 60px;

        margin-top: 30px;
        margin-right: 30px;

        cursor: pointer;
        transition: 0.4s;

        z-index: 9999;

        &:hover {
            background-color: #d7dcdf71;
            transition: 0.4s;
        }
    }
}

.galery-slider {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin-top: 48px;

    img {
        width: 469px;
        height: 278px;
    }
}

@media screen and (max-width: $breakPoint775) {
    .slick-arrow.slick-prev, .slick-arrow.slick-next {
        display: none !important;
    }
}